# 利用GitHub Actions每天定时给百度推送链接，提高收录率 ##

name: baiduPush

# 两种触发方式：一、push代码，二、每天国际标准时间 23 点（北京时间 +8 即早上 7 点）运行
# 触发 workflow 的条件
on:
  push: # push代码触发
  schedule: # 定时触发
    # https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#scheduled-events-schedule
    - cron: '0 23 * * *' # 每天国际标准时间 23 点（北京时间 +8 即早上 7 点）运行
    # - cron: '0 */2 * * *' # 每两个小时执行一次 https://crontab.guru/#0_*/2_*_*_*
    # - cron: '*/5 * * * *' # 每5分钟一次，测试用
  # 允许您从 "Actions" 选项卡手动运行此工作流
  workflow_dispatch:

jobs: # 工作流
  baiduPush: # 自定义名称
    # 指定运行所需要的虚拟机环境
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [10.x]
        
    steps: # 步骤
      # 第一步：下载源码（CI/CD拉取代码到自己的本地）
      - name: Checkout
        uses: actions/checkout@master
        
      # 第二步：安装 nodejs
      - name: Install Nodejs
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }} # 版本

      # 第三步：依赖安装   
      - name: Install Yarn
        run: |
          rm -rf ./node_modules
          npm install -g yarn
          yarn

      # 第四步：执行 sh 命令文件
      - name: 'Run baiduPush'
        run: |
          yarn baiduPush
          chmod +x ./scripts/baiduPush.sh
          bash ./scripts/baiduPush.sh